/* Styling Only Related To ALL Pages */

body {
  padding-top: 30px;
  margin-left: 0px;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #724d4d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(153, 89, 99);
}

.active {
  background-color: rgb(85, 42, 42);
}

h1 {
  width: 100%;
}

#name {
 float: left;

}